body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2f9041;
    color: white;
    padding: 10px 20px;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
}

.page-title {
    font-size: 18px;
    text-align: center;
    flex-grow: 1;
    margin-left: 30px;
}

.logo {
    height: 80px;
}

main {
    flex-grow: 1;
    padding: 20px;
    text-align: center;
}

.carousel {
    position: relative;
    max-width: 600px;
    margin: 20px auto;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    max-width: 100%;
    display: block;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
}

button.prev {
    left: 0;
}

button.next {
    right: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2f9041;
    color: white;
    padding: 20px;
    flex-wrap: wrap;
}

.footer-icons {
    display: flex;
    gap: 15px;
}

.footer-icons a {
    color: white;
    font-size: 24px;
    transition: color 0.3s;
}

.footer-icons a:hover {
    color: #ddd;
}

.footer-info {
    text-align: right;
    flex-grow: 1;
    margin-right: 10px;
}

.footer-info p {
    margin: 5px 0px;
    font-size: small;
}

.footer-logo img {
    margin-right: 20px;
    border-radius: 10px;
}

.if-logo {
    height: 100px;
    margin-left: 20px;
}

.map {
    margin-right: 20px;
}

/* Estilos para o rodapé em telas menores que 945 pixels */
@media (max-width: 995px) {
    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-info {
        display: none;
    }

    .map {
        margin-right: 0px;
    }

    .footer-logo,
    .footer-icons,
    iframe {
        margin-bottom: 10px;
    }
}